[submodule "assimp"]
    path = tools/assimp
    url = https://github.com/assimp/assimp.git
[submodule "gl3w"]
    path = tools/gl3w
    url = https://github.com/skaslev/gl3w.git
[submodule "glm"]
    path = tools/glm
    url = https://github.com/g-truc/glm.git
[submodule "soil2"]
    path = tools/SOIL2
    url = https://github.com/SpartanJ/SOIL2.git
[submodule "yaml-cpp"]
    path = tools/yaml-cpp
    url = https://github.com/jbeder/yaml-cpp.git
[submodule "glfw"]
    path = tools/glfw
    url = https://github.com/glfw/glfw.git
[submodule "bin/mnt/base"]
    path = bin/mnt/base
    url = https://github.com/BryanHaley/MushroomEX_BaseGame.git
