# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
bin/mushroom_ex
build
lib

# assimp
include/assimp

# glm
include/glm

# gl3w
src/gl3w.c
include/GL
include/KHR

# SOIL2
include/SOIL2

# YAML-CPP
include/yaml-cpp